<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <h1><%=distroName%> DISTRO LIST</h1>
    <div class="">
      <% for(let i = 0; i < distro.length; i++){ %>
        <a href="../contacts/<%=distro[i].id%>"><%=distro[i].name%></a>
      <% } %>
    </div>
  </body>
</html>
