<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <h1>DISTRO PAGE</h1>
    <h3><a href="/distros/new">Register New Distro</a></h3>
    <h3><a href="/contacts/">Go To Contacts Index</a></h3>
    <% for(let i = 0; i < distros.length; i++){ %>
      <div>
        <a href="/distros/<%=distros[i].id%>"><%=distros[i].name%></a><br>
        <a href="/distros/<%=distros[i].id%>/edit">Edit</a>
        <form action="/distros/<%=distros[i].id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE">
        </form>
      </div>
      <br>
    <% } %>
  </body>
</html>
