<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Distro: <%=distro.name%></h1>
    <h2>Full Information:</h2>
    name: <%=distro.name%><br>
    members: <%=distro.members%><br>
    confidential: <%=distro.confidential%><br>
    <br><br>
    <a href="/distros/<%=distro.id%>/edit">Edit Distro</a>
    <br><br>
    <a href="/distros/">Return to Index</a>
  </body>
</html>
