<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <script src="/js/distro-show.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/distroshow.css">
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="site-container">
      <div class="contact-container">
        <div class="top-tab-container">
          <div class="subject-text">subject: <%=distroName%></div>
          <div class="populating-text" target="_blank">click to populate</div>
        </div>
        <div class="emails-list">
          <% let emailAddresses = [] %>
          <% for(let i = 0; i < distro.length; i++){ %>
            <a href="../contacts/<%=distro[i].id%>"><%=distro[i].name%> |<span> <%=distro[i].department%> | <%=distro[i].title%> | <%=distro[i].email%></span></a><br>
            <% emailAddresses.push(distro[i].email) %>
          <% } %>
          <% let emails = emailAddresses.join() %>
          <div id="distroName" style="display: none"><%=distroName%></div>
          <div id="emails"><%=emails%></div>
        </div>
        <!-- ========= CONTACT FOOTER ========= -->
        <%- include ('../partials/contact-footer.ejs') %>
        <!-- =========/CONTACT FOOTER ========= -->
      </div>
    </div>
  </body>
</html>
