<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Contact Page: <%=contact.name%></h1>
    <h2>Full Information:</h2>
    name: <%=contact.name%><br>
    department: <%=contact.department%><br>
    title: <%=contact.title%><br>
    departmentHead: <%=contact.departmentHead%><br>
    phone: <%=contact.phone%><br>
    email: <%=contact.email%><br>
    emergencyContactName: <%=contact.emergencyContactName%><br>
    emergencyContactNumber: <%=contact.emergencyContactNumber%><br>
    emergencyContactRelationship: <%=contact.emergencyContactRelationship%><br>
    btl: <%=contact.btl%><br>
    core: <%=contact.core%><br>
    <br><br>
    <a href="/contacts/<%=contact.id%>/edit">Edit Contact</a>
  </body>
</html>
