<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <link rel="stylesheet" href="/css/showcontact.css">
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="contact-name <%=contact.department%>"><%=contact.name%></div>
    <div class="">Full Information: </div>
    <div class="contact-container">
      <div class="department-info info-container">
        department: <%=contact.department%><br>
        title: <%=contact.title%><br>
      </div>
      <div class="contact-info info-container">
        phone: <%=contact.phone%><br>
        email: <%=contact.email%><br>
      </div>
      <div class="distros-info info-container">DISTROS:
        <% for(let i = 0; i < contact.distros.length; i++){ %>
          <div><%=contact.distros[i]%><br></div>
        <% } %>
      </div>
    </div>
    <br><br>
    <a href="/contacts/<%=contact.id%>/edit">Edit Contact</a>
    <br><br>
    <a href="/contacts/">Return to Index</a>
  </body>
</html>
