<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <script src="/js/index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="site-container">
      <div class="spacer"></div>
      <div class="info-text">
        welcome to d|S T R O. manage your contacts. manage your distro groups. (manage your expectations)
      </div>
      <div class="contact-container">
        <div class="top-tab-container">
          <div class="tab distros-tab">distros</div>
          <div class="tab contacts-tab">contacts</div>
          <div class="tab contacts-new-tab"><a href="contacts/new/">+</a></div>
        </div>
        <div class="info-container">
          <div class="info" id="full-contacts">
            <% for(let i = 0; i < contacts.length; i++){ %>
              <div class='contact-link-container'>
                <a class="contact-link" href="/contacts/<%=contacts[i].id%>"><%=contacts[i].name%></a>
              </div>
            <% } %>
          </div>
          <div class="info" id="full-distros">
            <% for(let i = 0; i < distros.length; i++){ %>
              <a class="distro" href="../distros/<%=distros[i]%>">
                <div class="distro-button">
                  <div class="distro-name"><%=distros[i]%></div>
                </div>
              </a>
            <% } %>
          </div>
        </div>
        <!-- ========= CONTACT FOOTER ========= -->
        <%- include ('../partials/contact-footer.ejs') %>
        <!-- =========/CONTACT FOOTER ========= -->
      </div>
    </div>
  </body>
</html>
