<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="site-container">
      <div class="distros-container">
        <% for(let i = 0; i < distros.length; i++){ %>
          <a href="/distros/<%=distros[i]%>">
            <div class="distro-block"><%=distros[i]%></div>
          </a>
        <% } %>
      </div>
      <a href="/contacts/new">Register New Contact</a>
      <br><br>
      <% for(let i = 0; i < contacts.length; i++){ %>
        <div>
          <a href="/contacts/<%=contacts[i].id%>"><%=contacts[i].name%></a>
          <a href="/contacts/<%=contacts[i].id%>/edit">Edit</a>
        </div>
      <% } %>
    </div>
  </body>
</html>
