<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <script src="/js/index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="site-container">
      <div class="info-text">
        welcome to d|S T R O. manage your contacts. manage your distro groups. (manage your expectations)
      </div>
      <div class="expandables-container">
        <div class="contact-expandable">
          <div id="contacts-container-button">contacts</div>
          <div class="contacts-buttons-container">
            <div id="contact-toggle-button">display</div>
            <a id="new-contact-button" href="/contacts/new">create</a>
          </div>
          <div class="contact-container">
            <% for(let i = 0; i < contacts.length; i++){ %>
              <div>
                <a class="contact-link" href="/contacts/<%=contacts[i].id%>"><%=contacts[i].name%></a>
              </div>
            <% } %>
          </div>
        </div>
        <div class="distro-expandable">
          <div id="distro-toggle-button">distros</div>
          <div class="distro-container">
            <% for(let i = 0; i < distros.length; i++){ %>
              <a class="distro" href="../distros/<%=distros[i]%>">
                <div class="distro-button" id="icon-<%=distros[i]%>">
                  <div class="distro-name"><%=distros[i]%></div>
                </div>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
