<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <link rel="stylesheet" href="/css/editcontact.css">
    <script src="/js/edit-contact.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="site-container">
      <form autocomplete="off" action="/contacts/<%=contact.id%>?_method=PUT" method="POST">
        <div class="name-container">
          <input class="contact-name" id="contact-name type="text" name="name" value="<%=contact.name.toLowerCase()%>">
        </div>
        <div class="info-container">
          <div class="text-container">
            <div class="department-input">
              department:
              <input type="text" name="department" value="<%=contact.department%>">
            </div>
            <div class="title-input">
              title:
              <input type="text" name="title" value="<%=contact.title%>">
            </div>
            <div class="phone-input">
              phone:
              <input type="text" name="phone" value="<%=contact.phone%>">
            </div>
            <div class="email-input">
              email:
              <input type="text" name="email" value="<%=contact.email%>">
            </div>
            <% if (contact.emergencyContactName && contact.emergencyContactNumber) { %>
            <div id="emergency" class="emergency-container">
              Emergency Contact Information: <br>
              <div class="emergency-info">
                E - name: <%=contact.emergencyContactName%><br>
                E - number: <%=contact.emergencyContactNumber%><br>
                <% if (contact.emergencyContactRelationship) { %>
                  E - relationship: <%=contact.emergencyContactRelationship%><br>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
          <div class="distro-container">
            <div class="distros-info">DISTROS:
              <% for(let i = 0; i < contact.distros.length; i++){ %>
                <a class="distro <%=contact.distros[i]%>" href="../../distros/<%=contact.distros[i]%>"><%=contact.distros[i]%></a>
              <% } %>
            </div>
          </div>
        </div>
        <div class="contact-footer">
          <img src="/images/contact-footer-whites.png" alt="">
        </div>
        <div class="tool-button-container">
          <input id="update-button" type="submit" value="update">
        </div>
      </div>
    </form>
    </div>
  </body>
</html>
