<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <script src="/js/show-contact.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/showcontact.css">
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="site-container">
      <div class="contact-container">
        <div class="top-tab-container">
          <div class="contact-name" id="contact-name"><%=contact.name.toLowerCase()%></div>
          <div class="tool-button-container">
            <a id="edit-link" href="/contacts/<%=contact.id%>/edit">edit</a>
            <a id="index-link" href="/contacts/">index</a>
            <form class="delete-form" action="/contacts/<%=contact.id%>?_method=DELETE" method="POST">
              <input id="delete-button" type="submit" value="delete">
            </form>
          </div>
        </div>
        <div class="info-container">
          <div class="photo-container"></div>
          <div class="text-container">
            department: <%=contact.department%><br>
            title: <%=contact.title%><br>
            phone: <%=contact.phone%><br>
            email: <a href="mailto:<%=contact.email%>" target="_blank"><%=contact.email%></a>
            <% if (contact.emergencyContactName && contact.emergencyContactNumber) { %>
            <div id="emergency" class="emergency-container">
              Emergency Contact Information: <br>
              <div class="emergency-info">
                E - name: <%=contact.emergencyContactName%><br>
                E - number: <%=contact.emergencyContactNumber%><br>
                <% if (contact.emergencyContactRelationship) { %>
                  E - relationship: <%=contact.emergencyContactRelationship%><br>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
          <div class="distro-container">
            <div class="distros-info">DISTROS:
              <% for(let i = 0; i < contact.distros.length; i++){ %>
                <a class="distro <%=contact.distros[i]%>" href="../distros/<%=contact.distros[i]%>"><%=contact.distros[i]%></a>
              <% } %>
            </div>
          </div>
        </div>
        <!-- ========= CONTACT FOOTER ========= -->
        <%- include ('../partials/contact-footer.ejs') %>
        <!-- =========/CONTACT FOOTER ========= -->
      </div>
      <a href="/contacts/">Return to Index</a>
    </div>
  </body>
</html>
