<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- ============ HEAD ============ -->
    <%- include ('../partials/head.ejs') %>
    <!-- ============/HEAD ============ -->
    <link rel="stylesheet" href="/css/showcontact.css">
    <title></title>
  </head>
  <body>
    <div class="header-container">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============/HEADER ============ -->
    </div>
    <div class="contact-name <%=contact.department%>"><%=contact.name%></div>
    <div class="">Full Information: </div>
    <div class="contact-container">
      department: <%=contact.department%><br>
      title: <%=contact.title%><br>
      phone: <%=contact.phone%><br>
      email: <%=contact.email%><br>
      <% if (contact.emergencyContactName && contact.emergencyContactNumber) { %>
        <div class="emergency-container">
          Emergency Contact Information: <br>
          E - name: <%=contact.emergencyContactName%><br>
          E - number: <%=contact.emergencyContactNumber%><br>
          <% if (contact.emergencyContactRelationship) { %>
            E - relationship: <%=contact.emergencyContactRelationship%><br>
          <% } %>
        </div>
      <% } %>
      <div class="distros-info info-container">DISTROS:
        <% for(let i = 0; i < contact.distros.length; i++){ %>
          <a class="distro <%=contact.distros[i]%>" href="../distros/<%=contact.distros[i]%>"><%=contact.distros[i]%></a>
        <% } %>
      </div>
    </div>
    <br><br>
    <a href="/contacts/<%=contact.id%>/edit">Edit Contact</a>
    <br><br>
    <a href="/contacts/">Return to Index</a>
  </body>
</html>
